<!DOCTYPE html>
<html>
	<head>
		<!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
 	 <title>Food Garbage Prediction App</title>
	</head>
	
	<style>
		body {
			background-image: url('https://t1.daumcdn.net/cfile/tistory/99AA6C395E40D1D12E');
			background-repeat: no-repeat;
			background-size: 130%;
		}

	</style>
	
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" Style='color: brown;' href="/">Home</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/introduce">Introduce</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/data">Data</a>
			  </li>
			  
			</ul>
			<form class="d-flex">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		  </div>
		</div>
	  </nav>
	  <br><br><br>
      <h1>[Data Source]</h1>
      <br>
      <h3>
          <p>
          - 음식물쓰레기 배출량 및 배출횟수의 출처:
          
         <a href='https://data.gg.go.kr/portal/data/village/selectServicePage.do?page=6&rows=10&sortColumn=&sortDirection=&infId=8FUJGXN2C3TZ1Y5TVT4N28532739&infSeq=1&order=&sigunNm=%EC%98%A4%EC%82%B0%EC%8B%9C&sigunFlag=41370' title='경기데이터드림'>
            경기데이터드림
          </a>
        </p>
      <p>
          - 인구수 및 세대수 출처:
          
          <a href='https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1B040A3&vw_cd=MT_ZTITLE&list_id=A_7&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE' title='국가통계포털'>
            인구수
          </a> ,
		  <a href='https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=INH_1JC1501&vw_cd=MT_GTITLE01&list_id=109&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_GTITLE01' title='국가통계포털'>
            가구수
          </a>
      </p>
      
          <p>
      
          - 평균기온 출처:
          
          <a href='https://data.kma.go.kr/data/grnd/selectAwsRltmList.do?pgmNo=56' title='기상청'>
            기상청
          </a>
          </p>
          <p>
          - 1일 평균 방문 고객 & 배달 및 테이크아웃 출처:
          
          <a href='https://kosis.kr/statHtml/statHtml.do?orgId=114&tblId=DT_114054_023&vw_cd=MT_ZTITLE&list_id=K2_003_002&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE' title='국가통계포털'>
            국가통계포털
          </a>
		  </p>
		  <br><br>
		  </h3>
		  <h1>[Data]</h1>
		  <h3>
		  <p> Data 다운받기: 

		  <a href='https://drive.google.com/file/d/1gp_aj_pz2HeiC0QM0sVmICEm-ZMJM0zE/view?usp=sharing' title='train데이터'>
            DB파일
          </a>
		</p>
      </h3>
      <br>

  
</body>
</html>