<!DOCTYPE html>
<html>
	<head>
		<!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
 	 <title>Food Garbage Prediction App</title>
	</head>
	
	<style>
		body {
			background-image: url('https://t1.daumcdn.net/cfile/tistory/99AA6C395E40D1D12E');
			background-repeat: no-repeat;
			background-size: 130%;
		}

	</style>
	
<body style="text-align: center;">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" Style='color: brown;' href="/">Home</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/introduce">Introduce</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/data">Data</a>
			  </li>
			  
			</ul>
			<form class="d-flex">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		  </div>
		</div>
	  </nav>
	  <br><br><br><br>
  <h1>Food Garbage Prediction App</h1>
  <br><br>
	<form action="/submit" method='POST'>
		<p>
			<label for="average_temp">평균 기온:</label><br>
			<input type="number" step="0.01" name="average_temp">
		</p>
		<p>
			<label for="out_count">배출 횟수:</label><br>
			<input type="number" step="0.01" name="out_count">
		</p>		
		<p>
			<label for="population">인구수:</label><br>
			<input type="number" step="0.01" name="population">
		</p>
		<p>
			<label for="num_household">가구수: </label><br>
			<input type="number" step="0.01" name="num_household">
		</p>
        <p>
			<label for="visit">방문: </label><br>
			<input type="number" step="0.01" name="visit">
        </p>
        <p>
          <label for="deliver_takeout">테이크아웃및배달: </label><br>
          <input type="number" step="0.01" name="deliver_takeout">
        </p>
        
        <p><button type="submit">Submit</button></p>
  </form>
  
</body>
</html>