<!DOCTYPE html>
<html>
	<head>
		<!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        
 	 <title>Food Garbage Prediction App</title>
	</head>
	
	<style>
		body {
			background-image: url('https://t1.daumcdn.net/cfile/tistory/99AA6C395E40D1D12E');
			background-repeat: no-repeat;
			background-size: 130%; 
		}

	</style>
	
<body style="text-align: center;">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
		  <a class="navbar-brand" Style='color: brown;' href="/">Home</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/introduce">Introduce</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/data">Data</a>
			  </li>
			  
			</ul>
			<form class="d-flex">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		  </div>
		</div>
	  </nav>
      <h1>Introduce & Purpose</h1>
      <br>
	  <h2><p>Purpose</p></h2>
	  	<p><img src="http://drive.google.com/uc?export=view&id=1sQGkWQHwOlCoB3_h_uaj3x1c0DYuuH_6" ></p>
	  	<p><img src="http://drive.google.com/uc?export=view&id=18HC3YUIQIrnaEM4Wq3tJVQHZ7tj2P8h9" ></p>
		<p><img src="http://drive.google.com/uc?export=view&id=1-_WeN3-464KSx8tHeIwg43jmVNQr0o4N" ></p>
		<p>목적: 음식물 쓰레기량 예측을 통해 미리 대비할 수 있고 경각심을 주어 환경에 이익이 되기 위함.</p>
		<br><br><br>
		  <h2><p>Introduce</p></h2>
		  <p><img src="http://drive.google.com/uc?export=view&id=1J78ioszzJez5PFcNXSyV6kRFjMrKZcaE" ></p>
		  
	  <h3>
		  
          <a href='http://localhost:3000/dashboard/33-project3' title='metabase'>
              EDA by metabase
            </a>
          <p></p>
      </h3>
      <br>

  
</body>
</html>